<%#= link_to 'Add a New Message',new_message_path %>

<%if @messages.present? %>
<h1>Sms All</h1>
	<% @messages.each do |sms| %>
	<p>From : <%= sms.sms_from %></p>
	<p>Body : <%= sms.sms_body %></p>
	</br>
	<%end%>	
<%end%>